.board {
    min-width: 350px;
    max-width: 500px;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
    margin: 10px;
    padding: 10px 10px;
    position: relative;
  }
  
  .board::before{
    content: "";
    background-color: #dedede;
    border: 2px solid #b0b0b0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 20px;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
  }
  
  @media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .board {
        min-width: 150px;
        flex-grow: 1;
      }
  }
  
  .board_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }
  
  .board_header_title {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0px;
  }
  
  .board_header_title span {
    color: rgb(230, 230, 230);
  }
  
  .board_header_title_more {
    cursor: pointer;
    position: relative;
    padding: 15px 0px;
  }
  
  .board_dropdown {
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.12);
    padding: 0px ;
    padding-left: 25px;
    width: 140px !important;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: default;
  }
  .board_dropdown p {
    cursor: pointer;
  }
  
  .board_dropdown p:hover{
    color: red;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.12);
  }
  
  .board_cards {
    /* background-color: #f8f8f8; */
    padding: 4px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    /* border: 2px solid #f8f8f8; */
    border-radius: 4px;
    opacity: 1;
  }
  
  .board_add-card {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 10px 0px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.12);
    width: 50%;
    margin: 10px auto;
    margin-bottom: 0px;
    text-align: center;
  }
  
  .board_add-card:hover{
    box-shadow: 1px 1px 10px 5px #ccc;
  }
  .board_add-card_edit {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
  }
  
